# SVG et outputs
*.plt
*.svg
*.dxf
*.stl
*.html

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environnements virtuels
env/
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.pwj
*.ud

# Jupyter
*.ipynb_checkpoints
.ipynb_checkpoints/

# Projet spécifique
draft/
inkex/*.inx
documentation/src/generators.inc
examples/outputs/
!examples/inputs/*.svg
tests/outputs/

# OS
.DS_Store
Thumbs.db