Flask
CairoSVG==2.7.1
fonttools==4.55.3
matplotlib==3.10.0
numpy==2.2.0
pandas==2.2.3
Pillow==11.1.0
qrcode==8.0
trimesh==4.6.0



#Trimesh requirements :
scipy
lxml
networkx
shapely
rtree
#httpx
#sympy
#xxhash
#chardet
#colorlog
svg.path
#jsonschema
#pycollada
#pyglet<2
#xatlas
#python-fcl
#glooey
#meshio
#scikit-image
mapbox_earcut
#psutil
#vhacdx
manifold3d
#openctm
#cascadio